@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext,vietnamese');


:root {
    --fontRoboto: 'Roboto', sans-serif;
    --fontOrbit: 'Orbitron', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #0B5345;
}
::-webkit-scrollbar-thumb:hover {
    background: #138D75;
}
header {
    background-image: url("../img/header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 670px;
}
header a img {
    margin-left: 10px;
    height: 130px;
}
header .menu {
    float: right;
    margin-top: 35px;
    margin-right: 170px;
}
header .menu li {
    display: inline;
    text-transform: uppercase;
    font: 900 0.825em var(--fontRoboto);
    color: #0B5345;
    margin-right: 35px;
}
header .menu li:hover {
    color: #48C9B0;
}
header .language {
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    width: 84px;
    background-color: #D1F2EB;
    text-align: center;
    border-radius: 15px;
}
header .language li {
    display: inline;
    font: 900 13px var(--fontRoboto);
    color: #0B5345;
}
header .language li:hover {
    color: #48C9B0;
}
header section h1 {
    text-align: center;
    font: 900 32px var(--fontOrbit);
    margin-top: 150px;
    color: #0B5345;
    text-shadow: 2px 2px 4px #48C9B0;
}
header section hr, .myContainerAbout hr, .myContainerServices hr {
    width: 100px;
    height: 2px;
    background-color: #0B5345;
    outline: none;
    border: none;
}
header .swiper-container {
    width: 100%;
    height: 100%;
    z-index: 1;
}
header .swiper-slide {
    text-align: center;
    font-size: 18px;
}

header section p {
    margin: auto;
    margin-top: 15px;
    width: 700px;
    font: 300 16px var(--fontRoboto);
    color: #0B5345;
    letter-spacing: 2px;
    text-align: center;
}
header i {
    font-size: 45px;
    text-align: center;
    color:#1ABC9C;
    float: left;
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    left: 70px;
    z-index: 1;
}
.pulse {
    animation-iteration-count: infinite;
}

/*About*/
section .myContainerAbout {
    height: 150px;
}
section .myContainerAbout h3 {
    text-align: center;
    font: 900 25px 'Saira', sans-serif;
    color: #0B5345;
    margin-top: 50px;
}
section .myContainerAbout p {
    font: 400 16px "Nunito Sans";
    text-align: center;
    width: 630px;
    line-height: 24px;
    color: #000;
    margin-top: 25px;
    margin: auto;
}

section .myContainerServices {
    height: 600px;
    background-color: #76D7C4;    
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
}
section .myContainerServices h3 {
    text-align: center;
    font: 500 25px var(--fontRoboto);
    color: #0B5345;
    padding-top: 130px;
}
section .services {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
section .service {
    width: 25%;
    height: 360px;
    background-color: #0E6251;
    border-radius: 40px;
    margin: 0 7px 7px 7px;
    display: block;
    box-shadow: 3px 3px 3px #D1F2EB;
}
section .service div {
    text-align: center;
}
section .service i {
    font-size: 80px;
    color: #E8F8F5;
    margin-top: 15px;
}
section .service h4 {
    font: 400 16px "Nunito Sans";
    text-align: center;
    width: 200px;
    line-height: 24px;
    color: #fff;
    margin: auto;
    margin-top: 25px;
}
section .service hr {
    background-color: #fff;
}
section .service p {
    font: 400 16px "Nunito Sans";
    text-align: center;
    width: 300px;
    line-height: 24px;
    color: #fff;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 7px;
}
section .service a button {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}

footer {
    height: 200px;
    background-color: #D1F2EB;
}
footer a img {
    width: 100px;
}
footer i {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
footer .fa-instagram:hover {
    color: pink;
}
footer .fa-facebook-square:hover {
    color: darkblue;
}
footer .fa-linkedin:hover {
    color: blue;
}
footer .fa-github:hover {
    color: grey;
}
footer div {
    text-align: center;
}
footer article {
    text-align: center;
}
footer p a {
    color: #000;
    text-decoration: underline;
}
footer hr {
    width: 80%;
    height: 1px;
    background-color: #000;
    outline: none;
    border: none;
}
footer p {
    text-align: center;
}
#toTop {
    position:fixed;
    bottom:30px;
    right:50px;
    cursor:pointer;
    display:none;
    font-size: 50px;
    color: #0E6251;
}

/******SIDENAV******/
.sideNav {
    display: none;
    float: right;
    padding-top: 20px;
    margin-right: 20px;
    color: #0B5345;
}

.sideNav span {
    font-size: 40px;
    cursor: pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D1F2EB;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 3;
  }  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
    font: 900 16px var(--fontRoboto);
    color: #0B5345;
}
.sidenav a:hover {
    color: #48C9B0;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 45px;
    margin-left: 50px;
    cursor: pointer;
}
.sideNav .languageSide {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    border-radius: 15px;
}
.sideNav .languageSide li {
    font: 900 20px var(--fontRoboto);
}





@media only screen and (max-width: 768px) {
    header  {
        background-size: 1000px;
    }
    header section h1 {
        margin-top: 40px;
    }
    header .menu {
        display: none;
    }
    .sideNav {
        display: block;
    }
    header .language {
        display: none;
    }
    header i {
        bottom: 200px;
    }
    header {
        height: 600px;
    }
    header section p {
        width: 80%;
    }
    section .myContainerAbout h3 {
        margin-top: 0;
    }
    section .myContainerAbout p {
        width: 97%;
    }
    section .myContainerServices {
        height: 1800px;
        clip-path: polygon(50% 4%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    #services .myContainerServices .services {
        display: block;
        flex-direction: column;
    }
    #services .myContainerServices .service {
        width: 95%;
    }
    #services .myContainerServices .service p {
        width: 90%;
    }
    #toTop {
        bottom: 47px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1150px) {

    header .menu {
        display: none;
    }
    header .language {
        display: none;
    }
    .sideNav {
        display: block;
        color: #D1F2EB;
    }
    .sideNav span {
        font-size: 40px;
    }
    header {
        background-size: 100% 100%;
        height: 400px;
    }
    header section h1 {
        margin-top: 50px;
    }
    header i {
        bottom: 310px;
    }
    section .myContainerAbout h3 {
        margin-top: 65px;
    }
    section .myContainerAbout p {
        width: 90%;
    }
    #services .myContainerServices {
        height: 1000px;
        clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);

    }
    #services .myContainerServices .services {
        display: flex;
        flex-wrap: wrap;

    }
    #services .myContainerServices .service {
        width: 40%;
        margin-bottom: 40px;
    }
}



